* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  *::after{
    box-sizing: border-box;
  }
  *::before{
    box-sizing: border-box;
  }
  li {
    list-style: none;
  }
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  #ct {
    flex:1;
    height:26%;
    padding: 10px;
  }
  #layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74%;
  }
  .content {
    font-family:'Times New Roman';
    overflow: hidden;
    height: 100%;
    white-space: pre-line;
    word-wrap: break-word;
    margin-left: 20px;
    font-size: 16px;
  }
  .btn{
    position: absolute;
    right:0;
    top:0;
  }
  .btn>li {
    margin: 10px;
    font-size: 14px;
    background: #ddd;
    padding: 5px;
    cursor: pointer;
  }
  .btn>li.active{
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }